@{
    var Usuario = (LLV.Models.UsuarioModel)Session["logado"];
    //if (string.IsNullOrWhiteSpace(Usuario.Foto))
    //{
    //    Usuario.Foto = "Content/assets/img/avatars/blank-avatar.jpg";
    //}
    ViewBag.Title = "LLV";

    var jsonUser = Newtonsoft.Json.JsonConvert.SerializeObject(Usuario);
}
<!DOCTYPE html>
<html ng-app="appLLV">
<head>
    <script>
        var config = {
            baseRoute: '@(Request.ApplicationPath.TrimEnd('/'))',
            baseUrl: '@(Url.Action("Index", "Home", null, Request.Url.Scheme).TrimEnd('/'))'
        };
        config.apiBaseUrl = config.baseUrl + '/api';

        config.usuario = @Html.Raw(jsonUser);
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="styleSheet" href="~/Content/ui-grid.min.css" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <!-- Scripts -->
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-route.js"></script>
    <script src="~/scripts/angular-animate.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/scripts/angular-sanitize.js"></script>

    <script src="~/scripts/select.js"></script>
    <link rel="stylesheet" href="~/Content/select.css">

    <script src="~/scripts/ui-grid.min.js"></script>

    <!-- Arquivos de Angular do Projeto -->
    <script src="~/scripts/App/AppLLV.js"></script>
    <script src="~/scripts/App/Config.js"></script>
    <script src="~/scripts/App/Directive/NavigationDirective.js"></script>
    <script src="~/scripts/App/Servico/PessoaFactory.js"></script>
    <script src="~/scripts/App/Servico/VendaFactory.js"></script>
    <script src="~/scripts/App/Controller/MainCtrl.js"></script>
    <script src="~/scripts/App/Controller/HomeCtrl.js"></script>
    <script src="~/scripts/App/Controller/VendaRapidaCtrl.js"></script>
    <script src="~/scripts/App/Controller/GerenciaParametroCtrl.js"></script>
    <script src="~/scripts/App/Controller/OrdemServicoCtrl.js"></script>
</head>
<body ng-controller="MainCtrl as main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LLV</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <navigation class="nav navbar-nav" menu="menus" ng-show="menus"></navigation>
                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Digite aqui">
                    </div>
                    <button type="submit" class="btn btn-default">Pesquisar</button>
                </form>*@
                <navigation-user class="nav navbar-nav navbar-right" usuario="usuario"></navigation-user>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    @RenderBody()
    <!--Basic Scripts-->
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
</body>
</html>